<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/signup.css" />
    <link rel="stylesheet" href="../css/dashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="outer-container" style="flex-direction: column">
      <h1 id="welcome-message">Welcome</h1>
      <div class="submit-btn">
        <button>
          <a href="/login" style="text-decoration: none"> Log out</a>
          <div class="arrow-wrapper">
            <div class="arrow"></div>
          </div>
        </button>
      </div>
    </div>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const userId = urlParams.get("userId");

      fetch(`/api/dashboard?userId=${userId}`)
        .then((response) => response.json())
        .then((data) => {
          document.getElementById(
            "welcome-message"
          ).innerText = `Welcome, ${data.name}`;
        })
        .catch((error) => console.error("Error:", error));
    </script>
  </body>
</html>
